<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Thank you for signing up!</title>
</head>
<body>
<p>
Подтвердите пожалуйста свою почту:<br>
<a href="http://{{ site  }}/signup_verify?code={{ code }}">
    http://{{ site }}/signup_verify?code={{ code }}
</a>
</p>
</body>
</html>
